appdirs==1.4.4
backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cssselect==1.1.0
decorator==4.4.2
fake-useragent==0.1.11
idna==2.10
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
lxml==4.6.2
parse==1.19.0
parso==0.8.1
pickleshare==0.7.5
prompt-toolkit==3.0.14
pyee==8.1.0
Pygments==2.7.4
pyppeteer==0.2.5
pyquery==1.4.3
requests==2.25.1
requests-html==0.10.0
six==1.15.0
soupsieve==2.1
tqdm==4.56.0
traitlets==5.0.5
urllib3==1.26.3
w3lib==1.22.0
wcwidth==0.2.5
websockets==8.1
